STRIPE_PUBLISHABLE_KEY=pk_test_51FjMrLGHf1WlTIAfKy8GfivyBJmWOStZMDlISWln8ftAjcJC9cS9snFHDBSxZ1A8xcCbNUnJessS6ZiIFQgG5nso0059CPOlBn
STRIPE_SECRET_KEY=sk_test_51FjMrLGHf1WlTIAfTXkCJ22l5FLZIpHiyOXhaKaWNSn4uHiaXladCB5TaNDI5ViLTnWn4xmA0Nrf6dNowcsy8Nhj005UZIHkOy
STATIC_DIR=../../client/html
DOMAIN=http://localhost:4242
STRIPE_WEBHOOK_SECRET=<replace-with-your-webhook-secret>